---
Checks: '*,-android-cloexec-*,-bugprone-use-after-move,-cppcoreguidelines-avoid-c-arrays,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-macro-usage,-cppcoreguidelines-non-private-member-variables-in-classes,-cppcoreguidelines-owning-memory,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-cppcoreguidelines-pro-type-static-cast-downcast,-cppcoreguidelines-pro-type-vararg,-fuchsia-*,-google-runtime-references,-hicpp-avoid-c-arrays,-hicpp-invalid-access-moved,-hicpp-no-array-decay,-hicpp-vararg,-misc-non-private-member-variables-in-classes,-modernize-avoid-c-arrays,-modernize-make-unique,-readability-implicit-bool-cast,-readability-implicit-bool-conversion,-readability-magic-numbers'
#
#  For a list of check options, see:
#  https://clang.llvm.org/extra/clang-tidy/checks/list.html
#
#  Disabled checks:
#
#  android-cloexec-*
#    O_CLOEXEC isn't available on Windows making this non-portable.
#
#  bugprone-use-after-move
#  hicpp-invalid-access-moved
#    Generates too many false positives. A bug report has been sent:
#    https://bugs.llvm.org/show_bug.cgi?id=36516
#
#  cppcoreguidelines-avoid-c-arrays
#    Alias for modernize-avoid-c-arrays.
#
#  cppcoreguidelines-avoid-magic-numbers
#    Generally good advice, but there are too many places where this is
#    useful, for instance in tests.
#
#  cppcoreguidelines-macro-usage
#    There are cases where we actually need macros.
#
#  cppcoreguidelines-non-private-member-variables-in-classes
#    Alias for misc-non-private-member-variables-in-classes
#
#  cppcoreguidelines-owning-memory
#    Don't want to add dependency on gsl library.
#
#  cppcoreguidelines-pro-bounds-array-to-pointer-decay
#    Limited use and many false positives including for all asserts.
#
#  cppcoreguidelines-pro-bounds-pointer-arithmetic
#    Difficult to get by without it...
#
#  cppcoreguidelines-pro-type-static-cast-downcast
#    This is needed and totally okay if we are sure about the types.
#
#  cppcoreguidelines-pro-type-vararg
#    We need some of these functions at least and for some functions it isn't
#    even clear that those are vararg functions.
#
#  fuchsia-*
#    Much too strict.
#
#  google-runtime-references
#    This is just a matter of preference.
#
#  hicpp-avoid-c-arrays
#    Alias for modernize-avoid-c-arrays.
#
#  hicpp-no-array-decay
#    Alias for cppcoreguidelines-pro-bounds-array-to-pointer-decay.
#
#  hicpp-vararg
#    Too strict, sometimes calling vararg functions is necessary.
#
#  misc-non-private-member-variables-in-classes
#    Reports this also for structs, which doesn't make any sense. There is
#    an option "IgnoreClassesWithAllMemberVariablesBeingPublic" which should
#    disable this, but it didn't work for me.
#
#  modernize-avoid-c-arrays
#    Makes sense for some array, but especially for char arrays using
#    std::array isn't a good solution.
#
#  modernize-make-unique
#    This is a C++11 program and C++ doesn't have std::make_unique.
#
#  readability-implicit-bool-cast
#    Old name for readability-implicit-bool-conversion.
#
#  readability-implicit-bool-conversion
#    I don't think this makes the code more readable.
#
#  readability-magic-numbers
#    Alias for cppcoreguidelines-avoid-magic-numbers.
#
#WarningsAsErrors: '*'
...
