Source: osmium
Section: utils
Priority: optional
Maintainer: Jochen Topf <jochen@topf.org>
Build-Depends: debhelper (>= 7),
               libboost-program-options-dev,
               libbz2-dev,
               libcrypto++-dev,
               libexpat1-dev,
               libosmpbf-dev,
               pandoc,
               zlib1g-dev
Standards-Version: 3.9.5
Homepage: http://osmcode.org/osmium/

Package: osmium
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Recommends: 
Description: Command line tool for working with OpenStreetMap data.
 A versatile command line tool that makes manipulating
 OpenStreetMap data easy.
